<div class="container mt-5">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-primary">Add Contact</p>
            <p class="fst-italic">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. A vero, aperiam quas illo dolore asperiores fugiat dolor nisi optio debitis, non excepturi expedita incidunt sed at. Laborum eius voluptas ab.
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form >
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="name">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Photo Url">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Email Id">
                </div>
                <div class="mb-2">
                    <input type="number" class="form-control" placeholder="Mobile No">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Company">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Title">
                </div>
                <div class="mb-2">
                    <select class="form-control">
                        <option value="">Select a group</option>    
                    </select>
                </div>
                <div class="mb-2">
                    <input type="submit" class="btn btn-success" value="Create" >
                    <a routerLink="/" class="btn btn-warning ms-2">Close</a>
                </div>
            </form>
        </div>
        <div class="col-sm-6">
            <img src="https://cdn.pixabay.com/photo/2017/11/10/05/46/group-2935521_960_720.png" alt="">
        </div>
    </div>
</div>